<a href="/">
    <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </header>
</a>
<a class="twitter-follow-button"
  href="https://twitter.com/JamesFrowenDev"
  data-show-count=false
  >
Follow @JamesFrowenDev</a>
<div class="g-ytsubscribe" data-channelid="UCMwWI03oRB34vT0y-HAP5Sg" data-layout="default" data-count="hidden"></div>
<hr>

<script src="https://apis.google.com/js/platform.js"></script>