<!-- As a heading -->
<nav class="navbar navbar-dark navbar-expand">
  <!-- Brand -->
  <div class="navbar-brand mb-0 h1">
    <span class="navbar-title">
      <a class="" href="{{ '/' | relative_url }}">
        {{ site.title }}
      </a>

    </span>

    <span class="navbar-subtitle hide-on-small"> {{ site.description }}</span>

  </div>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- collapsible content -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="{{ '/about' | relative_url }}"><span>About Me</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/projects' | relative_url }}"><span>Projects</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/posts/' | relative_url }}"><span>Blog Posts</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/unity-tips' | relative_url }}"><span>Unity Tips</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/links' | relative_url }}"><span>Links</span></a>
      </li>
    </ul>
  </div>
</nav>