.navbar-title {
  font-size: 1.4em;
}
.navbar-subtitle {
  font-size: 0.7em;
  color: grey;
}

.navbar {
  padding: 0px 20px;
  border-bottom: 2px solid black;
}
.navbar a {
  color:inherit;
}
.navbar-brand a {
 &:hover {
  text-decoration: none;
 }
}

/* List item */
.navbar-nav>.nav-item {
  list-style-type: none;
  border-left: 2px solid darkcyan;
  transform: skewx(-30deg);
  padding-right: 10px;
  /* min-width: 100px; */
  height: 52px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* link div */
.navbar-nav>.nav-item>.nav-link {
}

/* Text in link */
.navbar-nav>.nav-item>.nav-link>span {
  display: block; 
  transform: skewx(30deg);
}
 
/* bottom of nav bar */
.navbar-line-finish {
  height: 1px;
  padding-bottom: 0em;
  margin-top: 0em;
  line-height: 1px;
  /* background: transparent url(../images/hr.png) 50% 0 no-repeat; */
  background: black;
  border: none;
} 


.hide-on-small {
  display: inline;

  @media (max-width: 576px) {
    display: none;
  }
}
