body {
    color: #444444;
}
header h1 {
    text-decoration: inherit;
    text-underline-position: inherit;
    padding: 0;
}

header h2 {
    padding: 0;
}

h1 {
    text-decoration: underline;
    text-underline-position: under;
}

h1, h2 {
    padding: 24px 0 12px 0;
}

h1>a { color: inherit; }
h1>a:hover { color: inherit; text-decoration:inherit; }

h2>a {
    color: deepskyblue;
}
h2>a:hover {
    color: deepskyblue;
}

h3 {
    color: #888888;
}

ul {
    padding-left: 24px;
}
li>ul {
    margin-bottom: 0px;
}

ul li {
    padding-left: 10px;
}

.rounded-image {
    border-radius: 5px;
}

.full-shadow {
    box-shadow: 0px 0px 10px 0px black;
}

.shadow-image {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.svg {
    height:1rem
}

.image-grid-2-1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
}

.image-1-1 {
    grid-column: 1;
    grid-row: 1;
}
.image-2-1 {
    grid-column: 1;
    grid-row: 2;
}

@media (min-width: 620px) { 
    .image-2-1 {
        grid-column: 2;
        grid-row: 1;
    }
}


.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

.project-content {
    margin-bottom: 32px;
}

.social-partent {
    position: relative;
}
.social-container {
    position: absolute;
    right: 0px;
    top: -24px;
    display: flex;
}
.social-container>div {
    margin: auto 8px;
}


@media (max-width: 620px) { 
    .social-container {
        position: relative;
        right: auto;
        top: auto;
    }
}


.share-partent {
}
.share-container {
}
.share-container>div {
    margin: auto;
}


.compact-link >a {
    color: #444444;
}
.compact-link >a:hover {
    color: #444444;
}

footer>a {
    margin: 20px
}