{% comment %}
full_page_background
{% endcomment %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}

<body class="full-background-body ">
  {% comment %}{% include BackgroundControls.html %}{% endcomment %}
  <!-- Page Content -->
  <div class="container">
    <div class="card border-0 shadow my-5 all-content">
      {% include navbar.html %}
      <div class="card-body p-5">
        {% comment %}
        {% include header.html %}
        {% endcomment %}

        <section id="main_content">
          {{ content }}
        </section>

        {% include footer.html %}
      </div>
    </div>
  </div>

  {% include google_analytics.html %}
</body>

</html>