<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}

  <body>
    <div id="container">
      <div class="inner">

        {% include header.html %}

        <section id="main_content">
          <h1><a href="/projects/{{ page.project | downcase | replace: ' ', '-' }}">{{ page.project }}</h1></a>
          {% if page.show_unity_download %}
          <strong>Download:</strong> 

          {% unless page.download_windows == null %}
            <a href="{{ page.download_windows }}">
            <img src="/assets/icons/windows.svg" class="svg" alt="">
              Windows</a>
          {% endunless %}
         
          {% unless page.download_mac == null %}
            <a href="{{ page.download_mac }}">
            <img src="/assets/icons/apple.svg" class="svg" alt="">
              Mac</a>
          {% endunless %}
          
          {% endif %}
            
          {% if page.draft %}
          <h3>This post is a draft and may be altered at any time.</h3>
          {% endif %}
          

          <h2>{{ page.title}}</h2>
          <p>{{ page.description }}</p>
          {{ content }}

          <div class="PageNavigation">
            {% if page.previous.url %}
              {% unless page.previous.draft %}
                <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
              {% endunless %}
            {% endif %}
            {% if page.next.url %}
              {% unless page.next.draft %}
                <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
              {% endunless %}
            {% endif %}
          </div>

        </section>

        {% include footer.html %}

      </div>
    </div>

    {% include google_analytics.html %}
  </body>
</html>