---
layout: master
---

<div class="share-parent">
  <div class="share-container">
    <div>{% include twitter_share.html %}</div>
    <div>{% include facebook_share.html %}</div>
  </div>
</div>

<br>
<a href="{{ '/unity-tips/' | relative_url }}">Back to list of tips</a>


<h2>{{ page.title}}</h2>
<h3>{{ page.date | date_to_string }}</h3>
{% unless page.dont_show_description %}
<p>{{ page.description }}</p>
{% endunless %}

{{ content }}
<br>
<br>
<a href="{{ '/unity-tips/' | relative_url }}">Back to list of tips</a>